<ion-view id="post-event"
  cache-view="true"
  hide-back-button="true"
>
  <ion-nav-bar class="positive-bar positive-bg">
    <ion-nav-buttons side="left">
      <button class="button button-clear icon ion-android-arrow-back"
        ng-click="goBack()"
      >
      </button>
    </ion-nav-buttons>

    <ion-nav-title class="bold">
      이벤트
    </ion-nav-title>
  </ion-nav-bar>

  <ion-header-bar class="bar-subheader row h40px zero darker-bg">
    <p class="col flex zero color1 bold"
      ng-click="goToState('PostEvent.EventFitMateList')"
      ng-class="{
        'white-bg': isState('PostEvent.EventFitMateList'),
        'color1-bb2px': isState('PostEvent.EventFitMateList')
      }"
    >
      MY FIT MATE 이벤트
    </p>
    <p class="col flex zero color1 bold"
      ng-click="goToState('Main.EventCompanyList')"
      ng-class="{
        'white-bg': isState('Main.EventCompanyList'),
        'color1-bb2px': isState('Main.EventCompanyList')
      }"
    >
      제휴 업체 이벤트
    </p>
  </ion-header-bar>

  <ion-nav-view name="PostEvent">
  </ion-nav-view>

</ion-view>
