#place-detail{
  ion-content{
    .ion-ios-telephone-outline::before{
      color: $color1;
      font-weight: bold;
    }
    .ion-compose::before{
      color: $color1;
      font-weight: bold;
    }
  }
}
