<ion-view id="postquestion-list"
  cache-view="true"
  hide-back-button="true"
>
  <ion-nav-buttons side="left">
    <button class="button icon ion-android-arrow-back"
      ng-click="goBack()"
    >
    </button>
  </ion-nav-buttons>

  <ion-nav-title class="bold">
    궁금하지?
  </ion-nav-title>

  <ion-nav-buttons side="right">
    <button class="button icon ion-compose"
      ng-click="goToState('Main.PostQuestionWrite')"
    >
    </button>
  </ion-nav-buttons>

  <ion-header-bar class="bar-subheader flex h40px zero darker-bg">
    <p class="zero color1 bold">궁금한 사항에 대해 상담해보세요</p>
  </ion-header-bar>

  <ion-content class="top84px">
    <div class="w100p h95vh flex light-grey-bg absolute"
      style="z-index: 2"
      ng-if="PostQuestionList.Model.loading"
    >
      <ion-spinner class="spinner-40px mb88px" icon="ripple">
      </ion-spinner>
    </div>

    <div class="zero pt10px pb10px color1-bb1px"
      ng-click="goToState('Main.PostQuestionDetail', {id: post.id})"
      ng-repeat="post in PostQuestionList.Model.posts"
    >
      <div class="w90p zero auto">
        <p class="zero mb10px f16px darker bold text-overflow">
          {{post.title}}
        </p>
        <div class="flex-v zero f12px grey text-overflow">
          <p class="zero pr5px color5">{{post.createdBy.name}}</p>
          /
          <p class="zero pl5px">{{post.createdAt | date: 'yyyy.MM.dd HH:mm'}}</p>
          <p class="zero pl5px">
            조회<span>{{post.views}}</span>
          </p>
        </div>
      </div>
    </div>

    <ion-infinite-scroll
      on-infinite="PostQuestionList.loadMore()"
      immediate-check="true"
      ng-if="PostQuestionList.Model.more"
    >
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
