<ion-view id="post-call"
  cache-view="true"
  hide-back-button="true"
>
  <ion-nav-buttons side="left">
    <button class="button icon ion-android-arrow-back"
      ng-click="goBack()"
    >
    </button>
  </ion-nav-buttons>

  <ion-nav-title class="bold">
    예약취소
  </ion-nav-title>

  <ion-content class="p5px">
    <div class="row h110px zero mb5px grey-b1px r5px">
      <div class="col-70 h100p zero p10px">
        <p class="zero mb10px f16px color1 bold">파워휘트니스</p>
        <div class="row zero dark-grey">
          <div class="col-30 zero">
            <p class="zero">날짜</p>
            <p class="zero">시간</p>
            <p class="zero">예약정보</p>
          </div>
          <div class="col zero">
            <p class="zero">2015.09.26</p>
            <p class="zero">12:00</p>
            <p class="zero">상담예약</p>
          </div>
        </div>
      </div>
      <div class="col-30 h100p zero">
        <button class="w100p h100p b0px f20px white bold positive-bg"
          ng-click=""
        >
          예약취소
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
