<ion-view id="postinfo-write"
  cache-view="true"
  hide-back-button="true"
>
  <ion-nav-buttons side="left">
    <button class="button icon ion-android-arrow-back"
      ng-click="goBack()"
    >
    </button>
  </ion-nav-buttons>

  <ion-nav-title class="bold">
    운동사전
  </ion-nav-title>

  <ion-header-bar class="bar-subheader flex h40px zero darker-bg">
    <select
      class="w200px h30px grey-b1px"
      ng-model="PostInfoWrite.Info"
      ng-options="Info.name for Info in PostInfoWrite.Infos"
    >
    </select>
  </ion-header-bar>

  <ion-content class="top84px">
    <div class="auto w90p zero pt20px pb20px">
      <div class="zero mb20px">
        <p class="zero mb10px positive bold">제목</p>
        <input class="r3px placeholder-grey white-bg"
          type="text" placeholder="제목을 입력해주세요"
          ng-model="PlaceContact.Model.form.title"
        >
      </div>

      <div class="zero mb20px">
        <p class="zero mb10px positive bold">내용</p>
        <textarea class="h100px r3px placeholder-grey white-bg"
          placeholder="내용을 입력해 주세요"
        ></textarea>
      </div>

      <div class="flex zero">
        <button class="w100px h40px mr10px b0px r3px f18px white bold positive-bg"
          ng-click=""
        >
          등록하기
        </button>
        <button class="w100px h40px b0px r3px f18px white bold positive-bg"
          ng-click="goBack()"
        >
          취소하기
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
