<ion-view id="place-contact"
  cache-view="true"
  hide-back-button="true"
>
  <ion-nav-buttons side="left">
    <button class="button icon ion-android-arrow-back"
      ng-click="goBack()"
    >
    </button>
  </ion-nav-buttons>

  <ion-nav-title class="bold">
    파워 휘트니스
  </ion-nav-title>

  <ion-header-bar class="bar-subheader flex h40px zero darker-bg">
    <p class="zero white bold">연락받기</p>
  </ion-header-bar>

  <ion-content class="top84px">
    <div class="auto w90p zero pt20px pb20px">
      <div class="zero mb20px">
        <p class="zero mb10px positive bold">제목</p>
        <input class="r3px placeholder-grey white-bg"
          type="text" placeholder="제목을 입력해주세요"
          ng-model="PlaceContact.Model.form.title"
        >
      </div>

      <div class="zero mb20px">
        <p class="zero mb10px positive bold">연락받을 번호</p>
        <input class="r3px placeholder-grey white-bg"
          type="text" placeholder="번호를 입력해 주세요"
          ng-model="PlaceContact.Model.form.title"
        >
      </div>

      <div class="zero mb20px">
        <p class="zero mb10px positive bold">문의내용</p>
        <textarea class="h100px r3px placeholder-grey white-bg"
          placeholder="문의 내용과 연락 받고 싶으신 시간을 함께 기재해 주세요"
        ></textarea>
      </div>

      <div class="flex zero">
        <button class="w100px h40px mr10px b0px r3px f18px white bold positive-bg"
          ng-click=""
        >
          연락받기
        </button>
        <button class="w100px h40px b0px r3px f18px white bold positive-bg"
          ng-click="goBack()"
        >
          취소하기
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
