 <ion-modal-view class="darker-bg70">
  <ion-pane class="flex auto transparent-bg">
    <div class="zero w80p">
      <div class="relative w100p zero rt5px center positive-bg">
        <p class="h40px zero f20px lh40px white bold">
          예약하기
        </p>
        <button class="button-clear icon ion-android-close absolute top0px bottom0px right0px"
          ng-click="BookingList.closeModal()"
        >
        </button>
      </div>
      <div class="w100p zero p20px rb5px dark-grey white-bg">
        <div class="zero">
          <div class="flex-v zero mb10px">
            <div class="w20px h20px zero r50p grey-b2px"></div>
            <p class="zero ml10px f16px">상담예약</p>
          </div>
          <div class="flex-v zero">
            <div class="w20px h20px zero r50p grey-b2px color4-bg"></div>
            <p class="zero ml10px f16px">운동시간 예약</p>
          </div>
        </div>
        <div class="zero mt30px mb30px">
          <div class="flex-v row zero mb10px">
            <label class="col-20 f16px">이름</label>
            <input class="col pl10px pr10px dark-grey-b1px"
              type="text"
            >
          </div>
          <div class="flex-v row zero">
            <label class="col-20 f16px">연락처</label>
            <input class="col pl10px pr10px dark-grey-b1px"
              type="text"
            >
          </div>
        </div>
        <div class="zero grey f12px">
          <p class="zero pb5px">* 원하시는 트레이너가 있으시면 유선 연락 바랍니다.</p>
          <p class="zero">* 예약취소는 '설정'을 이용해주세요.</p>
        </div>

        <div class="zero mt20px center">
          <button class="w80p h40px b0px white bold positive-bg"
            ng-click=""
          >
            예약
          </button>
        </div>
      </div>
    </div>
  </ion-pane>
</ion-modal-view>
