<ion-view id="eventfitmate-write"
  cache-view="true"
  hide-back-button="true"
>

  <ion-content class="top84px">
    <div class="auto w90p zero pt20px pb20px">
      <div class="zero mb20px">
        <p class="zero mb10px positive bold">제목</p>
        <input class="r3px placeholder-grey white-bg"
          type="text" placeholder="제목을 입력해주세요"
          ng-model="PlaceContact.Model.form.title"
        >
      </div>

      <div class="zero mb20px">
        <p class="zero mb10px positive bold">내용</p>
        <textarea class="h100px r3px placeholder-grey white-bg"
          placeholder="내용을 입력해 주세요"
        ></textarea>
      </div>

      <div class="flex zero">
        <button class="w100px h40px mr10px b0px r3px f18px white bold positive-bg"
          ng-click=""
        >
          등록하기
        </button>
        <button class="w100px h40px b0px r3px f18px white bold positive-bg"
          ng-click=""
        >
          취소하기
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
